<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
         Ag Grid Example
        </a>
      </div>
    </div>
  </nav>
<div class="container-fluid">
    <div class="row">
       <div class="col-md-6">
        <div>  <label><b> Filters on Grid  :   </b>  </label></div>
        <input (keyup)="onQuickFilterChanged($event)" type="text" id="quickFilterInput" placeholder="Type text to filter..."/>
        <button class="btn btn-default" [disabled]="!showGrid" (click)="showGrid=false">Destroy Grid</button>
        <button class="btn btn-default" [disabled]="showGrid" (click)="showGrid=true">Create Grid</button>
        <div>  <label><b> Rich Features :     </b>  </label></div>
        <label>
                <input type="checkbox" (change)="showToolPanel=$event.target.checked"/>
                Show Tool Panel
            </label>
            <button class="btn btn-default" (click)="createRowData()">Refresh Data</button>
            <button class="btn btn-primary" (click)="onBtExport()">Export to Excel</button>
    </div>
       <div class="col-md-6">
            <div>  <label><b> Grid API  :   </b>  </label></div>
            <button class="btn btn-default" (click)="gridOptions.api.selectAll()">Select All</button>
            <button class="btn btn-default" (click)="gridOptions.api.deselectAll()">Clear Selection</button>
            <div> <label><b> Column API:</b></label></div>
            <button class="btn btn-default" (click)="gridOptions.columnApi.setColumnVisible('country', false)">Hide Country Column</button>
            <button class="btn btn-default" (click)="gridOptions.columnApi.setColumnVisible('country', true)">Show Country Column</button>
       </div>
    </div>

<div class="row">
  <div class="col-md-6">
      <div class="item details">
          <label> File Name: <input type="text" id="fileName" placeholder="export" /> </label>
          <label> Sheet Name: <input type="text" id="sheetName" placeholder="ag-grid" maxlength="31" /> </label>
          <label>
            Export Mode: <input type="radio" name="mode" value="xlsx" id="xlsxMode" checked="true" />
            <label for="xlsx">.xlsx</label> <input type="radio" name="mode" id="xmlMode" value="xml" />
            <label for="xml">.xml</label>
          </label>
        </div>
  </div>
  <div class="col-md-6">
      <div id="options" class="">
          <div class="form-group">
            <label> <input type="checkbox" id="skipHeader" /> Skip Header </label>
            <label> <input type="checkbox" id="columnGroups" /> Column Groups </label>
            <label> <input type="checkbox" id="skipFooters" /> Skip Footers </label>
          </div>
          <div class="form-group">
            <label> <input type="checkbox" id="onlySelected" /> Only Selected </label>
            <label> <input type="checkbox" id="useCellCallback" /> Use Cell Callback </label>
            <label> <input type="checkbox" id="processHeaders" /> Format Headers </label>
          </div>
          <div class="form-group">
            <label> <input type="checkbox" id="skipPinnedTop" /> Skip Pinned Top </label>
            <label> <input type="checkbox" id="skipPinnedBottom" /> Skip Pinned Bottom </label>
            <label> <input type="checkbox" id="skipGroups" /> Skip Groups </label>
          </div>
          <div class="form-group">
            <label> <input type="checkbox" id="useSpecificColumns" /> Specify Columns </label>
            <label> <input type="checkbox" id="allColumns" /> All Columns </label>
            <label> <input type="checkbox" id="skipGroupR" /> Skip Group R </label>
          </div>
          <div class="form-group">
            <label> <input type="checkbox" id="appendHeader" /> Append Header </label>
            <label> <input type="checkbox" id="appendFooter" /> Append Footer </label>
          </div>
        </div>
  </div>
   
</div>
    
    <div style="clear: both;"></div>

    <div *ngIf="showGrid">

        <!-- Because we are using the Angular ID (ie #ag-grid marker), we have to have all the items that use
             that marker inside the same ng-if as the grid -->

        <div style="clear: both;"></div>
    
        <div style="clear: both;"></div>

        <ag-grid-angular style="width: 90vw; height: 350px;" class="ag-fresh"

                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [showToolPanel]="showToolPanel"
                     [rowData]="rowData"
                     (gridReady)="onGridReady($event)"
                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     suppressRowClickSelection
                     toolPanelSuppressGroups
                     toolPanelSuppressValues
                     rowHeight="22"
                     rowSelection="multiple"

                     (modelUpdated)="onModelUpdated()"
                     (cellClicked)="onCellClicked($event)"
                     (cellDoubleClicked)="onCellDoubleClicked($event)"
                     (cellContextMenu)="onCellContextMenu($event)"
                     (cellValueChanged)="onCellValueChanged($event)"
                     (cellFocused)="onCellFocused($event)"
                     (rowSelected)="onRowSelected($event)"
                     (selectionChanged)="onSelectionChanged()"
                     (beforeFilterChanged)="onBeforeFilterChanged()"
                     (afterFilterChanged)="onAfterFilterChanged()"
                     (filterModified)="onFilterModified()"
                     (beforeSortChanged)="onBeforeSortChanged()"
                     (afterSortChanged)="onAfterSortChanged()"
                     (virtualRowRemoved)="onVirtualRowRemoved($event)"
                     (rowClicked)="onRowClicked($event)"
                     (gridReady)="onReady($event)"

                     (columnEverythingChanged)="onColumnEvent($event)"
                     (columnRowGroupChanged)="onColumnEvent($event)"
                     (columnValueChanged)="onColumnEvent($event)"
                     (columnMoved)="onColumnEvent($event)"
                     (columnVisible)="onColumnEvent($event)"
                     (columnGroupOpened)="onColumnEvent($event)"
                     (columnResized)="onColumnEvent($event)"
                     (columnPinnedCountChanged)="onColumnEvent($event)">
        </ag-grid-angular>
    </div>

</div>